.Token {
    background-color: black;
    position: absolute;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    width: 30 rem;
    height: 25 rem;
}

.Token_box_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Token_box_heading h2 {
    line-height: 0;
    font-size: 1.2rem;
}

.Token_box_para {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Token_box_input {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.Token_box_input button {
    background-color: #cff80b;
    border: 0;
    outline: 0;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 900;
    font-size: 1rem;
    cursor: pointer;
}

.Token_box_input input {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 80%;
    border: 1px solid #cff80b;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: end;
    color: #cff80b;
}

.Token_box_toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 35em) {
    .Token {
        width: 100%;
    }
    
}