.Toggle{
    position: relative;
    width: 75%;
    display: inline-block;
    text-align: left;
    top: 8px;
}

.Toggle_checkbox {
    display: none;
}

.Toggle_label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #E0E0E0;
    border-radius: 20px;
}

.Toggle_inner{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

