.Toggle{
    position: relative;
    width: 75%;
    display: inline-block;
    text-align: left;
    top: 8px;
}

.Toggle_checkbox {
    display: none;
}

.Toggle_label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #E0E0E0;
    border-radius: 20px;
}

.Toggle_inner{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.Toggle_inner:before, .Toggle_inner:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.Toggle_inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #4CAF50;
    color: white;
}

.Toggle_inner:before {
    content: "No";
    padding-left: 10px;
    background-color: #4CAF50;
    color: white;
}

.Toggle_switch {
    display: block;
    width: 24px;
    margin: 5px;
    background-color: #ff2257;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0px solid #E0E0E0;
    transition: all 0.3s ease-in 0s;
}

.Toggle_checkbox:checked + .Toggle_label .Toggle_inner {
    margin-left: 0;
}

.Toggle_checkbox:checked + .Toggle_label .Toggle_switch {
    right: 0;
}