.SearchToken {
    position: absolute;
    margin: 0 auto;
    background-color: black;
    padding: 2rem;
    border-radius: .5rem;
    width: 30 rem;
    height: 25 rem;
}

.SearchToken_box_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SearchToken_box_search {
    display: flex;
    align-items: center;
    background-color: #cff80b;
    padding: .5rem 1rem;
    border-radius: .5rem;
    gap: 1rem;
}

.SearchToken_box_search input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-weight: 500;
    width: 90%;
    color: red;
}

.SearchToken_box_token {
    margin-top: 1.5rem;

}

@media only screen and (max-width: 35em) {
    .SearchToken {
        width: 95%;
    }
    
}