@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;

  background-color: black;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;



}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #ffffff;
  }
}